/* #region common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    /*to allow main to occupy fullscreen when content overflows*/
    height: 100%;
}

body {
    height: max-content;
    background-size: contain;
    background-image: url("../img/cork.png");
}

section {
    /*keep the cards 1-column when below tablet dimensions*/
    width: 80%;
    margin: auto;
}

.d-none {
    display: none;
}

#overlay {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    button {
        font-size: 30px;
        padding: 0.5rem;
    }

    img {
        width: 600px;
        height: 600px;
    }
}

/* #region debug */
.debug {
    * {
        border: 2px dotted black
    }

}

/* #endregion debug */

/* #region fontimports */
/* font for the title */
.title-font-google {
    font-family: "Edu TAS Beginner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* font for the card text */
.text-font-google {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* #endregion fontimports */
/* #endregion common */


/* #region header */
header {
    background-size: auto;
    background-image: url("../img/wall.png");
    height: 12%;
    /* center the title */
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Edu TAS Beginner;
        font-size: 70px;
    }
}

/* #endregion header */


/* #region main */
main {
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        /* separate cards from header */
        padding-top: 4rem;

        .col {
            /* separate cards vertically */
            padding: 0.5rem 0;

            .card {
                /* position relative to be used for center-pin */
                position: relative;
                background-color: white;
                box-shadow: 3px 3px rgba(0, 0, 0, 0.3);

                .center-pin {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%, -50%);
                }

                .img-container {
                    img {
                        width: 265px;
                        height: 265px;
                        margin: 0.75rem
                    }

                }

                .text-container {
                    font-family: "Sometype Mono";
                    text-align: right;
                    margin: 0 0.75rem;
                    height: 50px;
                    /* in case of overfilling it avoids clipping */
                    overflow-y: hidden;
                }
            }
        }
    }
}

/* #endregion main */

/* #region mediaqueries */

/*used the wrap to avoid needing mediaqueries, over 1700~px the images would not be in 3 columns so i restrained them to 1000px width*/

@media screen and (min-width:1440px) {
    section {
        width: 1000px;
    }
}

/* #endregion mediaqueries */