/* #region common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

section {
    width: 80%;
    margin: auto;
}

/* #region debug */
.debug {
    * {
        border: 2px dotted black
    }

}

/* #endregion debug */
/* #endregion common */


/* #region header */
header {
    background-size: cover;
    background-image: url("/assets/img/wall.png");
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 60px;
    }
}

/* #endregion header */


/* #region main */
main {
    height: 100%;
    background-size: cover;
    background-image: url("/assets/img/cork.png");


    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 4rem;

        .col {
            padding: 0.5rem 0;

            .card {
                position: relative;
                background-color: white;
                box-shadow: 3px 3px rgba(0, 0, 0, 0.3);

                .center-pin {
                    position: absolute;
                    top: 0;
                    left: 50%;

                    z-index: 1;
                    transform: translate(-50%, -50%);
                }

                .img-container {
                    img {
                        width: 265px;
                        height: 265px;
                        margin: 0.75rem
                    }

                }

                .text-container {
                    margin: 0 0.75rem;

                    height: 50px;
                    /* in case of overfilling it avoids clipping */
                    overflow-y: hidden;
                }
            }
        }
    }
}

/* #endregion main */

/* #region mediaqueries */

/*used the wrap to avoid needing mediaqueries, over 1700~px the images would not be in 3 columns so i restrained them to 1000px width*/

@media screen and (min-width:1440px) {
    section {
        width: 1000px;
    }
}

/* #endregion mediaqueries */